// ----------------------------------------
// FLUID SLIDER VARIABLES

$fluid-slider-bullet-color:                     #555555 !default;
$fluid-slider-bullet-current-color:             #000000 !default;
$fluid-slider-bullet-size:                      .5rem !default;
$fluid-slider-bullet-spacing:                   .5rem !default;
$fluid-slider-bullet-items-spacing:             .5rem !default;

$fluid-slider-navigation-color:                 #555555 !default;
$fluid-slider-navigation-button-zindex:         10 !default;
$fluid-slider-navigation-button-spacing:        1rem !default;
$fluid-slider-navigation-button-width:          5rem !default;
$fluid-slider-navigation-button-height:         3rem !default;

$fluid-slider-animation-duration:               .3s !default;
$fluid-slider-animation-easing:                 cubic-bezier(0.25, 0.46, 0.45, 0.94) !default; // ease-out-quadratic

// END - FLUID SLIDER
// ----------------------------------------
